distlib==0.3.6
filelock==3.8.0
grpcio==1.47.0
grpcio-tools==1.47.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
protobuf==3.20.1
py==1.11.0
pyparsing==3.0.9
six==1.16.0
toml==0.10.2
tox==3.25.1
virtualenv==20.16.4
tink==1.7.0
