<configuration description="Tests related to CTS Verifier">
    <target_preparer class="com.android.tradefed.targetprep.suite.SuiteApkInstaller">
        <option name="cleanup-apks" value="true" />
        <option name="test-file-name" value="CtsVerifierTest.apk" />
    </target_preparer>

    <test class="com.android.tradefed.testtype.AndroidJUnitTest" >
        <option name="package" value="com.android.tools.e2etests.ctsverifier" />
    </test>
    <metrics_collector class="com.android.tradefed.device.metric.FilePullerLogCollector">
        <option name="directory-keys" value="/storage/emulated/0/googletest/test_outputfiles" />
        <option name="collect-on-run-ended-only" value="true" />
    </metrics_collector>
</configuration>
