<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Required: list of all classes with @Rpc methods. -->
        <meta-data
            android:name="mobly-snippets"
            android:value="com.google.emu.snippets.ExampleSnippet,
                           com.google.emu.snippets.SensorSnippet" />
        <!--        <meta-data-->
        <!--            android:name="mobly-log-tag"-->
        <!--            android:value="com.google.emu.snippets" />-->

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Second Activity -->
        <activity
            android:name=".ClipActivity"
            android:exported="true"
            android:label="@string/clip_activity_label"></activity>

        <!-- Activity to test dialog background dimming -->
        <activity
            android:name=".DialogDimActivity"
            android:exported="true"
            android:label="@string/dialog_dim_activity_label"></activity>
    </application>
    <instrumentation
        android:name="com.google.android.mobly.snippet.SnippetRunner"
        android:targetPackage="com.google.AnimateBox" />
</manifest>